---
layout: page
title: centres de formation
permalink: /centres-de-formation/
---
<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>centres de formation, centres d’apprentissage & écoles de commerce </h1>
          <p>« L’éducation est l’arme la plus puissante qu’on puisse utiliser pour changer le monde ».</p>
          <p>-Nelson Mandela-</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="blog">
  <br><br>
  <h2 class="text-center"><a id="ateliers-formations"></a>Mes ateliers dédiés aux centres de formation</h2>
  <div class="container">
    <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">
      {% for post in site.posts %}

        {% if post.blog == true %}
          {% include card.html %}
        {% endif %}

      {% endfor %}
    </div>
  </div>
</section>
