---
layout: page
title: Mon engagement
permalink: /mon-engagement/
---

<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Mon engagement</h1>
          « L’humour renforce notre instinct de survie et sauvegarde notre santé d’esprit » <br> -Charlie Chaplin-
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="engagement">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h3>Mon engagement avec l'assoctiation Clownaltitude.</h3>
        <p>
          Passionnée par la puissance artistique du jeu d’acteur clown contemporain, de ses bienfaits, et par l’univers du spectacle depuis de nombreuses années, j’ai souhaité créer mon association pour transmettre avec Amour et Plaisir ma passion auprès des établissements spécialisés et des associations.<br>
          Mon engagement n’a pas de frontières géographiques et j’espère un jour faire des spectacles partout dans le monde.<br>
          Je souhaite donc humblement pouvoir transmettre ma passion du jeu de clown et voir ainsi de jolis sourires et de la joie l’espace d’un INSTANT…
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Portfolio Start -->
<section id="portfolio-work">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <div class="portfolio-menu">
                <ul>
                    <li class="filter" data-filter="all">Tous</li>
                    <li class="filter" data-filter=".Branding">La scène</li>
                    <li class="filter" data-filter=".Websites">Arlette LAPOMPE</li>
                    <li class="filter" data-filter=".Graphic">Clownaltitude</li>
                    <li class="filter" data-filter=".design">Spectacle</li>
                    <li class="filter" data-filter=".Video">Video</li>
                </ul>
              </div>
              <div class="portfolio-contant">
                <ul id="portfolio-contant-active">
                    <li class="mix Branding">
                      <a href="#">
                        <img src="{{ site.url }}{{ site.baseurl }}/img/portfolio/work1.png" alt="">
                        <div class="overly">
                          <div class="position-center">
                            <h2>Tesla Motors</h2>
                            <p>Labore et dolore magna aliqua. Ut enim ad </p>

                          </div>
                        </div>
                      </a>
                  </li>
                  <li class="mix Websites">
                    <a href="#">
                      <img src="{{ site.url }}{{ site.baseurl }}/img/portfolio/work2.png" alt="">
                      <div class="overly">
                        <div class="position-center">
                          <h2>Tesla Motors</h2>
                          <p>Labore et dolore magna aliqua. Ut enim ad </p>

                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="mix Graphic">
                    <a href="#">
                      <img src="{{ site.url }}{{ site.baseurl }}/img/portfolio/work3.png" alt="">
                      <div class="overly">
                        <div class="position-center">
                          <h2>Tesla Motors</h2>
                          <p>Labore et dolore magna aliqua. Ut enim ad </p>

                        </div>
                      </div>

                    </a>
                  </li>
                  <li class="mix design">
                    <a href="#">
                      <img src="{{ site.url }}{{ site.baseurl }}/img/portfolio/work4.jpg" alt="">
                      <div class="overly">
                        <div class="position-center">
                          <h2>Tesla Motors</h2>
                          <p>Labore et dolore magna aliqua. Ut enim ad </p>

                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="mix Video">
                    <a href="#">
                      <img src="{{ site.url }}{{ site.baseurl }}/img/portfolio/work5.png" alt="">
                      <div class="overly">
                        <div class="position-center">
                          <h2>Tesla Motors</h2>
                          <p>Labore et dolore magna aliqua. Ut enim ad </p>

                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="mix Graphic">
                    <a href="#">
                      <img src="{{ site.url }}{{ site.baseurl }}/img/portfolio/work6.png" alt="">
                      <div class="overly">
                        <div class="position-center">
                          <h2>Tesla Motors</h2>
                          <p>Labore et dolore magna aliqua. Ut enim ad </p>

                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>
<!-- <section class="engagement">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h3>Témoignages</h3>
        <p>
          Passionnée par la puissance artistique du jeu d’acteur clown contemporain, de ses bienfaits, et par l’univers du spectacle depuis de nombreuses années, j’ai souhaité créer mon association pour transmettre avec Amour et Plaisir ma passion auprès des établissements spécialisés et des associations.<br>
          Mon engagement n’a pas de frontières géographiques et j’espère un jour faire des spectacles partout dans le monde.<br>
          Je souhaite donc humblement pouvoir transmettre ma passion du jeu de clown et voir ainsi de jolis sourires et de la joie l’espace d’un INSTANT…
        </p>
        <div class = "testimonials">
          <ul>
            <li>
              <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkSflTI9DIJAstZ8fesrSz70HR8oH9BN_d8w0cjGEtiZyqDcs8">
              <p>"Integer in cursus massa. Curabitur viverra, libero sed eleifend pellentesque, metus quam commodo lorem, ut laoreet ipsum metus ac augue."</p>
              <h1>Martin Kovaks</h1>
            </li>
            <li>
              <img src = "https://i.pinimg.com/236x/2d/e5/7f/2de57f8025bd64dffd554de0f080ee7f--my-pinterest-pinterest-board.jpg?b=t">
              <p>"Sed vitae augue arcu. In pharetra ultricies mi eget interdum. Donec feugiat, orci at mattis laoreet, mauris mauris interdum arcu, ac viverra nibh purus a eros."</p>
              <h1>Adrea Glauber</h1>
            </li>
            <li>
              <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkSflTI9DIJAstZ8fesrSz70HR8oH9BN_d8w0cjGEtiZyqDcs8">
              <p>"Integer in cursus massa. Curabitur viverra, libero sed eleifend pellentesque, metus quam commodo lorem, ut laoreet ipsum metus ac augue."</p>
              <h1>Martin Kovaks</h1>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section> -->
<section class="blog">
  <div class="container">
    <div class="section-title engagement">
      <h3><a id="ateliers-engagement"></a>J'intervien dans votre association ou établissement de soins.</h3>
    </div>
    <br><br>
    <h2 class="text-center">Mes ateliers</h2>
    <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">
      {% for post in site.posts %}

        {% if post.engagement == true %}
          {% include card.html %}
        {% endif %}

      {% endfor %}

      {% include pagination.html %}
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Mon engagement contre le cancer du sein.</h2>
          <p>Le cancer du sein, est une maladie qui fait plus de 11 000 victimes par an en France. Comme moi, venez soutenir <strong>l’association LISA</strong> qui œuvre passionnément pour apporter gratuitement des soins de supports auprès de femmes ayant un cancer du sein.
          </p>
          <a class="btn btn-default btn-call-to-action" href="https://lisa-bordeaux.fr/faire-un-don-a-lisa/" target="_blank">Faire un don</a>
        </div>
      </div>
    </div>
  </div>
</section>
