---
layout: page
title: Mon engagement
permalink: /associations/
---

<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Associations</h1>
          « L’humour renforce notre instinct de survie et sauvegarde notre santé d’esprit » <br> -Charlie Chaplin-
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="engagement">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h3>Qu’est ce que le clown contemporain ?</h3>
        <br><br>
        <p>
          Contrairement aux nombreux à priori entendu sur le sujet, le clown contemporain est selon moi, le reflet de notre âme, de notre authenticité, de notre libre arbitre...<br>Notre vérité d’ÊTRE que nous perdons en mettant des masques dans le monde de l’entreprise et dans la vie de tous les jours.<br> C’est la connexion à sa spontanéité, son émerveillement sur les choses qui nous entourent en toute simplicité et humilité sans aucune intention de faire rire, pleurer… Juste être VRAI.
          Nous avons en chacun de nous, « notre clown » qui sommeille, nous permettant ainsi de voir la vie et les obstacles avec notre part d’humanité, force et fragilité….sans filtre.<br>
          Mon intention est donc de transmettre ma passion auprès des établissements spécialisés et des associations œuvrant tous les jours pour accompagner des personnes résilientes qui ont plus que jamais envie d’être et de vivre pleinement une vie épanouie.
        </p>
        <h4>Remerciements</h4>
        <p>
          Je remercie chaleureusement le Theâtre du Chapeau à Bordeaux qui m’a permis de me connecter au clown sommeillant en moi, et ce depuis 2014…
        </p>
      </div>
    </div>
  </div>
</section>
<section class="blog">
  <div class="container"><br>
    <h2 class="text-center"><a id="ateliers-associations"></a>Mes ateliers</h2>
    <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">
      {% for post in site.posts %}

        {% if post.engagement == true %}
          {% include card.html %}
        {% endif %}

      {% endfor %}

      {% include pagination.html %}
    </div>
  </div>
</section>
<!-- Portfolio Start -->
<section id="portfolio-work">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <div class="portfolio-menu"><br><br>
                <h2 class="text-center">La scène</h2>
                <!-- <ul>
                    <li class="filter" data-filter="all" id="all">Tous</li>
                    <li class="filter" data-filter=".Branding">La scène</li>
                    <li class="filter" data-filter=".Websites" id="arlette">Arlette LAPOMPE</li>
                    <li class="filter" data-filter=".Graphic">Clownaltitude</li>
                    <li class="filter" data-filter=".design">Spectacle</li>
                </ul> -->
              </div>
              <div class="portfolio-contant">
                <ul id="portfolio-contant-active">
                  <li class="mix Branding">
                    <img src="{{ site.url }}{{ site.baseurl }}/img/portfolio/work1.png" alt="">
                    <div class="overly">
                      <div class="position-center">
                        <h2>La scène</h2>
                        <!-- <p>Labore et dolore magna aliqua. Ut enim ad </p> -->

                      </div>
                    </div>
                  </li>
                  <li class="mix Websites">
                      <img src="{{ site.url }}{{ site.baseurl }}/img/portfolio/work10.png" alt="">
                      <div class="overly">
                        <div class="position-center">
                          <h2>Arlette LAPOMPE</h2>
                          <!-- <p>Labore et dolore magna aliqua. Ut enim ad </p> -->

                        </div>
                      </div>
                  </li>
                  <li class="mix Graphic">
                      <img src="{{ site.url }}{{ site.baseurl }}/img/portfolio/work6.png" alt="">
                      <div class="overly">
                        <div class="position-center">
                          <h2>Arlette LAPOMPE</h2>
                          <!-- <p>Labore et dolore magna aliqua. Ut enim ad </p> -->

                        </div>
                      </div>
                  </li>
                  <li class="mix design">
                      <img src="{{ site.url }}{{ site.baseurl }}/img/portfolio/work11.png" alt="">
                      <div class="overly">
                        <div class="position-center">
                          <h2>Arlette LAPOMPE</h2>
                          <!-- <p>Labore et dolore magna aliqua. Ut enim ad </p> -->

                        </div>
                      </div>
                  </li>
                  <li class="mix Graphic">
                      <img src="{{ site.url }}{{ site.baseurl }}/img/portfolio/work5.png" alt="">
                      <div class="overly">
                        <div class="position-center">
                          <h2>Arlette LAPOMPE</h2>
                          <!-- <p>Labore et dolore magna aliqua. Ut enim ad </p> -->
                        </div>
                      </div>
                  </li>
                  <li class="mix Graphic">
                      <img src="{{ site.url }}{{ site.baseurl }}/img/portfolio/work12.png" alt="">
                      <div class="overly">
                        <div class="position-center">
                          <h2>Arlette LAPOMPE</h2>
                          <!-- <p>Labore et dolore magna aliqua. Ut enim ad </p> -->
                        </div>
                      </div>
                  </li>
                  <!-- <li class="mix Websites" style="margin-left: 18px;">
                    <p id="clown" style="color: black;">
                      <em>Le clown contemporain permet d’être dans la vérité des états émotionnels, dans la justesse de ses ressentis, avec authenticité et respect du public et de ses partenaires de jeux.
                      Je remercie le Théâtre du Chapeau de me  former depuis 2014 et de m’avoir donnée le goût et la passion de cet art formidable où le maître mot est selon moi : Humilité. <br>
                      Le personnage d’Arlette LAPOMPE est née en Corse, suite à un échange avec une amie sur le prénom et nom de ma clownette.
                      Et puis d’un coup, par magie j’ai trouvé mon nom de scène….Et Arlette LAPOMPE a vu le jour.</em>
                    </p>
                  </li> -->
                  <li class="mix design">
                      <img src="{{ site.url }}{{ site.baseurl }}/img/portfolio/work4.png" alt="">
                      <div class="overly">
                        <div class="position-center">
                          <h2>Arlette LAPOMPE</h2>
                          <!-- <p>Labore et dolore magna aliqua. Ut enim ad </p> -->

                        </div>
                      </div>
                  </li>
                  <li class="mix design">
                      <img src="{{ site.url }}{{ site.baseurl }}/img/portfolio/work13.png" alt="">
                      <div class="overly">
                        <div class="position-center">
                          <h2>Arlette LAPOMPE</h2>
                          <!-- <p>Labore et dolore magna aliqua. Ut enim ad </p> -->

                        </div>
                      </div>
                  </li>
                  <li class="mix design">
                      <img src="{{ site.url }}{{ site.baseurl }}/img/portfolio/work14.png" alt="">
                      <div class="overly">
                        <div class="position-center">
                          <h2>Arlette LAPOMPE</h2>
                          <!-- <p>Labore et dolore magna aliqua. Ut enim ad </p> -->

                        </div>
                      </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Mes associations coup de coeur</h2>
          <!-- <p>Je partage avec vous les associations qui m'accompagner au quotidient.
          </p> -->
          <a href="https://www.commelesautres.org/" target="_blank">
            <img src="{{ site.url }}{{ site.baseurl }}/img/comme-les-autres-logo.png" alt="comme-les-autres-logo">
          </a>
          <a href="https://lisa-bordeaux.fr/" target="_blank">
            <img src="{{ site.url }}{{ site.baseurl }}/img/lisa-logo.png" alt="lisa-logo">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
