---
layout: page
title: Sabine De Prati
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="block">
          <h1 class="animated fadeInUp"><strong>Formatrice et coach en développement des compétences managériales et commerciales.</strong></h1>
          <p class="animated fadeInUp"><strong>Développer vos ventes et optimiser votre communication.</strong></p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Mes services</h2>
        <p>Accompagnements collectifs et individuels sur mesure.</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-arrow-graph-up-right"></i>
          <h4>Feedback ventes</h4>
          <p>Optimiser la visibilité des résultats sur le terrain. Feedback sur ce qui fonctionne et sur ce qui peut être amélioré.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i><img src="img/icon-1.png" alt="IMG"></i>
          <h4>Suivi du manager</h4>
          <p>
          Accompagner le manager durant la mission afin d’apporter des outils efficaces et pérennes.
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i><img src="img/icon-21.png" alt="IMG"></i>
          <h4>Leadership</h4>
          <p>Positionner le manager au cœur du pilotage et de l’action.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-map"></i>
          <h4>Exploration</h4>
          <p>
          Passer de l’atelier à l’action : « Je dis, je fais » et « j’ajuste ».
          </p> <br> <br> <br>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-android-contact"></i>
          <h4>Prise de parole</h4>
          <p>Être capable de communiquer devant un public.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i><img src="img/icon-3.png" alt="IMG"></i>
          <h4>Assertivité</h4>
          <p>Être capable d’affirmer ses dires sans être déstabilisé par un jury, ou des individus lors d’un entretien d’embauche.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i><img src="img/icon-4.png" alt="IMG"></i>
          <h4>Développement personnel</h4>
          <p>Renforcer l’estime de soi et la confiance en soi.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-wand"></i>
          <h4>Libérer sa créativité</h4>
          <p>
          L’objectif est de libérer par le jeu toute la créativité que nous avons en nous pour s’affirmer dans la vie professionnelle et être pleinement soi-même.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="section-title" style="text-align: center;">
        <h2>MON APPROCHE</h2>
        <p style="padding-top: 0;">« Ce qui ne tue pas rend plus fort » de Friedrich NIETZCHE</p>
        <p>A travers cette citation qui m’accompagne depuis toujours dans mon parcours de vie, je crois aux supers pouvoirs que nous avons tous en chacun de nous et qui nous permettent de surmonter les épreuves de la vie professionnelle et personnelle, quel que soit le niveau de difficulté et de changement à opérer.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div>
            <p>
              <strong>
                Mon intention est d’accompagner individuellement et collectivement des personnes résilientes*, dans le cadre professionnel et personnel avec :
              </strong>
            </p>
              <ol style="list-style-type: square; font-size: 15px; line-height: 28px; color: #7B7B7B;">
                <li>
                  <strong>Des ateliers dédiés au comportement commercial et managériale :</strong> <br>Conquête et Fidélisation des clients, (re) booster les équipes commerciales dans les périodes compliquées et de changement.
                </li>
                <li>
                  <strong>Des ateliers dédiés à sa posture d’animateur et de formateur :</strong> <br>Accompagnement collectif de l’ingénierie pédagogique à l’animation en présentiel et distanciel.
                </li>
                <li>
                  <strong>Des ateliers dédiés aux techniques de ventes :</strong> <br> À travers le comportement commercial, et de communication managériale.
                </li>
                <li>
                  <strong>Des ateliers dédiés à la préparation à l’oral et à la recherche de stage.</strong>
                </li>
                <li>
                  <strong>Des ateliers dédiés à la spontanéité : </strong> <br>
                  La confiance en soi, grâce aux techniques d’improvisation clown contemporain et théâtrale, permettant ainsi d’accompagner des individus à la reprise de leurs supers pouvoirs pour conquérir le monde, réaliser leurs projets, et ainsi Re prendre leur place autrement, avec authenticité, courage, et plaisir d’Etre soi même.
                </li>
                <li>
                  <strong>Pour les accompagnements individuels : </strong> <br>
                  Je m’adresse aux dirigeants, managers, particuliers ayant une demande liée à une problématique dans le cadre de leur activité professionnelle.
                </li>
              </ol>
            <p style="padding-top: 0; padding-bottom: 40px; font-size: 12px;line-height: 12px;">
              <em>
                * La résilience consiste à continuer à se développer après un traumatisme, mais différemment ; une nouvelle organisation qui n'est pas forcément plus forte que l'ancienne, ni plus fragile, juste différente. D’après Boris CYRULNIK
              </em>
            </p>
          </div>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block" style="margin-top: 100px; padding-bottom: 20px;">
          <img src="img/sabine-de-prati-groupe-coaching.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<!-- <section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2 style="color: white;">MON APPROCHE</h2>
      <p>Dans le cadre de mon activité à la Direction commerciale, mon constat était le suivant : à tous les niveaux de la hiérarchie dans une entreprise, la volonté de chacun est de bien faire, bien agir. <br> Cependant la communication restait le maillon faible.</p>
      <p>Selon moi : « Tout le monde a raison, Tout le monde a tort ».
      Alors comment avancer ? <br>En déconstruisant des modes de communication inefficace menant à des conflits, à une hausse de l’absentéisme et à terme, une baisse de la rentabilité de l’entreprise.
      </p>
      <p>Mon intention ? <br>
      Être avant toute chose à votre écoute afin d’apporter avec humilité et professionnalisme, un regard extérieur, objectif, sur votre demande d’accompagnement collectif et individuel.
      </p>
      <a href="{{ site.url }}{{ site.baseurl }}/contact" class="btn btn-view-works">Contactez moi</a>
    </div>
  </div>
</div>
</section> -->

<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>En savoir plus sur moi</h2>
          <p>
          DU (Diplôme Universitaire) en Coaching Entreprise obtenu à l’IAE à Bordeaux.  Certification Approche coaching narratif obtenu à La Fabrique  Narrative. <br>Certification F.P.A (Formation Professionnelle pour Adultes). 
          </p>
          <a class="btn btn-default btn-call-to-action" href="{{ site.url }}{{ site.baseurl }}/contact" >Contactez moi</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            {% if ff.icon == true %}
            <li style="margin: 12px 0 30px;">
              <div class="block">
                  <img src="img/clown-icon6.png" alt="IMG">
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% else %}
            <li>
              <div class="block">
                  <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <h4>Témoignages</h4>
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
