---
layout: page
title: Sabine De Prati
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">Formatrice en développement des compétences managériales et commerciales.</h1>
          <p class="animated fadeInUp">Développer vos ventes et optimiser votre communication.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>A propos</h2>
            <p>
              Après 18 ans d’expérience dans l’univers bancaire dont 10 ans dans l’animation commerciale, j’ai beaucoup observé, écouté, anticipé, réajusté, et j’ai pu voir autrement des situations compliquées dans mon métier d’animatrice et de formatrice.
            </p>
          </div>
          <p>
          Mon intention était d’être au plus près des besoins des équipes commerciales d’où ma présence régulière sur le terrain.
          <br>
          Passionnée par les ressources que nous avons en chacun de nous, par l’alliance des compétences individuelles au service du collectif, et par l’envie de relever toujours plus de défis, j’ai donc souhaité lancer en 2020, mon activité en tant que <strong>formatrice en développement des compétences managériales et commerciales</strong>.
          </p>
          <p>
          Mon originalité : J’utilise des techniques issues du coaching d’équipe, de l’approche narrative, du clown contemporain et de l’improvisation théâtrale.<br>
          Mes atouts principaux ? L’empathie, et le professionnalisme me permettant ainsi d’être pleinement à l’écoute et de pouvoir m’adapter aux besoins de mes clients.<br>
          L’humour est également ma marque de fabrique car j’aime animer des formations sérieuses tout en apportant de l’humour et de la bonne humeur aux participants.
          </p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block" style="margin-top: 100px;">
          <img src="img/sabine-de-prati-coach.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2 style="color: white;">MON APPROCHE DE CONSULTANTE</h2>
      <p>Dans le cadre de mon activité sur un poste transverse à la Direction commerciale, j’ai pu constater qu’à tous les niveaux de la hiérarchie dans une entreprise, la volonté de chacun est de Bien Faire, Bien agir, cependant la communication reste le maillon faible.</p>
      <p>Selon moi : « Tout le monde a raison, Tout le monde a tort ».
      Alors comment avancer ? <br>En déconstruisant des modes de communication inefficace menant à des conflits, à une hausse de l’absentéisme et à terme, une baisse de la rentabilité de l’entreprise.
      </p>
      <p>Mon intention ? <br>
      Être avant toute chose à votre écoute afin d’apporter avec humilité et professionnalisme, un regard extérieur, objectif, sur votre demande d’accompagnement collectif et individuel.
      </p>
      <a href="{{ site.url }}{{ site.baseurl }}/contact" class="btn btn-view-works">Contactez moi</a>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Mes services</h2>
        <p>Accompagnements collectifs et individuels sur mesure.</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-arrow-graph-up-right"></i>
          <h4>Feedback ventes</h4>
          <p>Optimiser la visibilité des résultats sur le terrain. Feedback sur ce qui fonctionne et sur ce qui peut être amélioré.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-android-done-all"></i>
          <h4>Suivi du manager</h4>
          <p>
          Accompagner le manager durant la mission afin d’apporter des outils efficaces et pérennes
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-trophy"></i>
          <h4>Leadership</h4>
          <p>Positionner le manager au cœur du pilotage et de l’action</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-ios-people"></i>
          <h4>Exploration</h4>
          <p>
          Passer de l’atelier à l’action : « Je dis, je fais » et « j’ajuste ».
          </p> <br> <br> <br>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-android-contact"></i>
          <h4>Prise de parole</h4>
          <p>Être capable de communiquer devant un public</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-speakerphone"></i>
          <h4>Assertivité</h4>
          <p>Être capable d’affirmer ses dires sans être déstabilisé par un jury, ou des individus lors d’un entretien d’embauche.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-happy"></i>
          <h4>Développement personnel</h4>
          <p>Renforcer l’estime de soi et la confiance en soi.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-wand"></i>
          <h4>Libérer sa créativité</h4>
          <p>
          L’objectif est de libérer par le jeu toute la créativité que nous avons en nous pour s’affirmer dans la vie professionnelle et être pleinement soi-même.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>CONTACTEZ MOI</h2>
          <p>
          Si vous souhaitez en savoir plus sur mes accompagnements collectifs et individuels, n'hésitez pas à me contacter. Vous pouvez également m'ajouter sur Linkedin afin d'échanger sur votre demande.
          </p>
          <a class="btn btn-default btn-call-to-action" href="{{ site.url }}{{ site.baseurl }}/contact" >Contactez moi</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>En savoir plus sur moi</h2>
        <p>
          Je suis titulair d'un DU (Diplome Universitaire) en Coaching Entreprise passé à IAE de Bordeaux. Je suis également titulaire d'un Certification Approche coaching narratif passé à La Fabrique Narrative de Mérignac. Je suis actuellement en cours de validation de la Certification F.P.A (Formation Professionnelle pour Adultes). Je pratique le clown contemporain depuis 2014 et l'initiation depuis 2019 à l’improvisation théatrale.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            {% if ff.icon == true %}
            <li style="margin: 12px 0 30px;">
              <div class="block">
                  <img src="img/clown-icon6.png" alt="IMG">
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% else %}
            <li>
              <div class="block">
                  <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <h4>Témoignages</h4>
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
