<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.url }}{{ site.baseurl }}/">Acceuil</a></li>
            <li><a href="{{ site.url }}{{ site.baseurl }}/entreprises">Entreprises</a></li>
            <li><a href="{{ site.url }}{{ site.baseurl }}/centres-de-formation">Centres de formation</a></li>
            <li><a href="{{ site.url }}{{ site.baseurl }}/mon-engagement">Mon engagement</a></li>
            <li><a href="{{ site.url }}{{ site.baseurl }}/contact">Contact</a></li>
          </ul>
        </div>
        <p>Copyright &copy; Design &amp; Developed by <a href="https://ismaelsane.github.io/" style="color: #428bca;">
        Airylight web developement</a></p><br>
      <a href="#">Mentions légales</a>
      </div>
    </div>
  </div>
</footer>
