---
layout: page
---

<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>{{ page.subtitle }}</h1>
          <p>
            {{ page.line }} <br>
            {{ page.author }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="post">
  <!-- Wrapper Start -->
  <section id="intro">
    <div class="container">
      <div class="row">
        <h2 class="text-center"><a id="ateliers"></a>{{ page.cardstitle }}</h2>
        <br><br>
        <div>
          <div class="block">
            <div class="post mdl-shadow--2dp">
              <div class="wrapper">
                <header class="post-header">
                  <!-- <h1 class="post-title">{{ page.title }}</h1>
                  <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p> -->
                </header>
                <article class="post-content">
                  {{ content }}
                </article>
                <p class="center-text" style="padding: 30px;">
                  {% if page.work %}
                  <a href="{{ site.url }}{{ site.baseurl }}/entreprises/#ateliers-entreprises">Retour à {{ page.link }}</a>
                  {% elsif page.blog %}
                  <a href="{{ site.url }}{{ site.baseurl }}/ecoles-de-commerce/#ateliers-formations">Retour à {{ page.link }}</a>
                  {% else %}
                  <a href="{{ site.url }}{{ site.baseurl }}/associations/#ateliers-engagement">Retour à {{ page.link }}</a>
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
        </div><!-- .col-md-7 close -->
        <br>
        {% if page.title == "Mon ONE-Woman-Show" %}
          <div class="container engagement">
            <div class="row">
              <div class="section-title">
                <h2 class="text-center" style=" text-transform: capitalize; font-weight: 400;">Témoignages</h2>
                <div class = "testimonials">
                  <ul>
                    <li>
                      <img src="{{ site.url }}{{ site.baseurl }}/img/item-img9.png" alt="IMG">
                      <p>
                      «  Une magnifique surprise concernant le spectacle de Sabine, un moment de rire inoubliable sur un sujet tabou en entreprise traité avec un humour décapant . Sabine a beaucoup de talent , aussi bien sur sa capacité à improviser mais aussi sa capacité à embarquer le public . Elle est dans la digne lignée des humoristes française et je lui souhaite de belles réussites »
                      </p>
                      <h1>Virginie SADOWSKI</h1>
                    </li>
                    <li>
                      <img src="{{ site.url }}{{ site.baseurl }}/img/item-img10.png" alt="IMG">
                      <p>Jeu surprenant, complètement décalé, où le rire est omniprésent dès le début jusqu’à la fin du sketch. Une réelle performance physique où les mots et le mime ont été des partenaires inébranlables. Le comique de situation était omniprésent tout en finesse sur un sujet délicat ( le bonheur du transit au travail). Belle performance que nous applaudissons à 4 mains.</p>
                      <h1>Denise et Hervé</h1>
                    </li>
                    <li id="third">
                      <img src="{{ site.url }}{{ site.baseurl }}/img/item-img8.png" alt="IMG">
                      <p>
                        « Vraiment très drôle et original!!Sabine a un énorme talent et j’ai hâte de la revoir sur scène! »
                      </p>
                      <h1>Christophe POULAIN</h1>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </section>
</div>
