---
layout: page
---

<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>{{ page.subtitle }}</h1>
          <p>
            {{ page.line }} <br>
            {{ page.author }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="post">
  <!-- Wrapper Start -->
  <section id="intro">
    <div class="container">
      <div class="row">
        <h2 class="text-center"><a id="ateliers"></a>{{ page.cardstitle }}</h2>
        <br><br>
        <div>
          <div class="block">
            <div class="post mdl-shadow--2dp">
              <div class="wrapper">
                <header class="post-header">
                  <!-- <h1 class="post-title">{{ page.title }}</h1>
                  <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p> -->
                </header>
                <article class="post-content">
                  {{ content }}
                </article>
                <p class="center-text" style="padding: 30px;">
                  {% if page.work %}
                  <a href="{{ site.url }}{{ site.baseurl }}/entreprises/#ateliers-entreprises">Retour à {{ page.link }}</a>
                  {% elsif page.blog %}
                  <a href="{{ site.url }}{{ site.baseurl }}/centres-de-formation/#ateliers-formations">Retour à {{ page.link }}</a>
                  {% else %}
                  <a href="{{ site.url }}{{ site.baseurl }}/mon-engagement/#ateliers-engagement">Retour à {{ page.link }}</a>
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
        </div><!-- .col-md-7 close -->
        <br>
        {% if page.title == "Mon ONE-Woman-Show" %}
          <div class="container engagement">
            <div class="row">
              <div class="section-title">
                <h2 class="text-center" style=" text-transform: capitalize; font-weight: 400;">Témoignages</h2>
                <div class = "testimonials">
                  <ul>
                    <li>
                      <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkSflTI9DIJAstZ8fesrSz70HR8oH9BN_d8w0cjGEtiZyqDcs8">
                      <p>"Integer in cursus massa. Curabitur viverra, libero sed eleifend pellentesque, metus quam commodo lorem, ut laoreet ipsum metus ac augue."</p>
                      <h1>Martin Kovaks</h1>
                    </li>
                    <li>
                      <img src = "https://i.pinimg.com/236x/2d/e5/7f/2de57f8025bd64dffd554de0f080ee7f--my-pinterest-pinterest-board.jpg?b=t">
                      <p>"Sed vitae augue arcu. In pharetra ultricies mi eget interdum. Donec feugiat, orci at mattis laoreet, mauris mauris interdum arcu, ac viverra nibh purus a eros."</p>
                      <h1>Adrea Glauber</h1>
                    </li>
                    <li>
                      <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkSflTI9DIJAstZ8fesrSz70HR8oH9BN_d8w0cjGEtiZyqDcs8">
                      <p>"Integer in cursus massa. Curabitur viverra, libero sed eleifend pellentesque, metus quam commodo lorem, ut laoreet ipsum metus ac augue."</p>
                      <h1>Martin Kovaks</h1>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </section>
</div>
